.mst-toaster {
  position: fixed;
  z-index: 1;
  width: 15rem;
}
.mst-toaster--tl {
  top: 1rem;
  left: 1rem;
}
.mst-toaster--tr {
  top: 1rem;
  right: 1rem;
}
.mst-toaster--bl {
  bottom: 1rem;
  left: 1rem;
}
.mst-toaster--br {
  bottom: 1rem;
  right: 1rem;
}
