$alert-color: #155724;
$alert-color--light: #c3e6cb;
$alert-color--lighter: #d4edda;

$info-color: #0c5460;
$info-color--light: #bee5eb;
$info-color--lighter: #d1ecf1;

$warning-color: #856404;
$warning-color--light: #ffeeba;
$warning-color--lighter: #fff3cd;