@import './static/variabels';

.mst-button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  width: 20rem;
  margin: 0 auto 3rem;
}
.mst-button-wrapper:first-of-type {
  margin-top: 3rem;
}
.mst-type-hint {
  text-align: center;
}
.mst-button-wrapper--type {
  justify-content: center;
}
.mst-button {
  height: 2rem;
  min-width: 5rem;
  border: 1px solid black;
}
.mst-button:focus {
  outline: none;
}
.mst-button--round {
  border-radius: 1rem;
}
.mst-button--alert.mst-button--active {
  color: $alert-color;
  border-color: $alert-color--light;;
  background-color: $alert-color--lighter;
}
.mst-button--info {
  margin: 0 1rem;
}
.mst-button--info.mst-button--active {
  color: $info-color;
  border-color: $info-color--light;;
  background-color: $info-color--lighter;
}
.mst-button--warning.mst-button--active {
  color: $warning-color;
  border-color: $warning-color--light;;
  background-color: $warning-color--lighter;
}