@import '../../static/variabels';

.mst-toaster-item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.mst-toaster-item--alert {
  color: $alert-color;
  border-color: $alert-color--light;;
  background-color: $alert-color--lighter;
}
.mst-toaster-item--info {
  color: $info-color;
  border-color: $info-color--light;;
  background-color: $info-color--lighter;
}
.mst-toaster-item--warning {
  color: $warning-color;
  border-color: $warning-color--light;;
  background-color: $warning-color--lighter;
}